
InfiniteRunner/Assets/Materials/Bullet Materials/GlowyWhite.mat
InfiniteRunner/Assets/Materials/Bullet Materials/GlowyWhite.mat
InfiniteRunner/Assets/Materials/BulletTrailMaterial.mat
InfiniteRunner/Assets/Materials/Bullet Materials/GlowyWhite.mat
InfiniteRunner/Assets/Materials/heroMaterials/ninjaMainMat.mat
InfiniteRunner/Assets/Materials/heroMaterials/SlashMaterial.mat
InfiniteRunner/Assets/Materials/pistolEnemyMaterials/PistolEnemyArmorMat.mat
InfiniteRunner/Assets/Materials/pistolEnemyMaterials/PistolEnemyArmorOffsetMat.mat
InfiniteRunner/Assets/Materials/pistolEnemyMaterials/PistolEnemyDissolveRed.mat
InfiniteRunner/Assets/UI/CurrencyDisplayMaterial.mat
InfiniteRunner/Assets/UI/LogoShader.mat
InfiniteRunner/Assets/UI/PlayButtonMaterial.mat
InfiniteRunner/Assets/UI/SettingsButtonMaterial.mat
InfiniteRunner/Assets/UI/ShopButtonMaterial.mat
InfiniteRunner/Assets/UI/TrophyButtonMaterial.mat
